.news-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .news-app {
    padding: 10px;
  }
}
